<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do List</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="box" id="heading">
  <h1> <%= kindOfDay %></h1>
</div>

<div class="box">
  <% for (let i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newListItems[i] %> </p>
      <form action="/deleteItem" method="POST">
        <button type="submit" id= "deleteBtn" name="deleteItem" value=<%= newListItems %>><i class="far fa-trash-alt"></i></button>
       </form>
    </div>
  <% } %>

  <form class="item" action= "/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit">+</button>
  </form>
</div>
</body>
</html>

